/* Basic stylesheet */
body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    transition: background-color 0.3s ease;
}

/* Themes */
.theme-red {
    background-color: #df4632 !important;
}

.theme-green {
    background-color: #0e490e !important;
}

/* Header/footer */
header,
footer {
    background-color: rgb(33, 65, 152);
    padding: 10px;
    color: white;
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: white;
    text-decoration: none;
}

/* Containers */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.left,
.right {
    margin: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
}

.right {
    flex-grow: 1;
    width: 100%;
}

#posts-container {
    max-height: 100%;
    overflow: auto;
}

.scroll-container {
    max-height: 400px;
    overflow: auto;
}

/* Swal styles */
.swal-toggle-link {
    color: #07E;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.swal-toggle-link:hover {
    color: blue;
}

.swal2-input {
    width: auto !important;
}

/* Helpers */
.center,
.space-between,
.center-overflow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.overflow {
    overflow: auto;
    white-space: nowrap;
}

.w-full {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.center-overflow {
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
    max-width: 100%;
}

.on-color {
    color: #07E;
}

.on-color:hover {
    color: #0055b3;
}

.on-bg-color {
    background-color: #07E;
}

.on-bg-color:hover {
    background-color: #0055b3;
}

.helper-icon {
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
}

.helper-icon:hover {
    color: #aaa;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        display: block;
        min-height: 0;
    }

    .left,
    .right {
        height: auto;
        width: auto;
    }

    #posts-container {
        max-height: 400px;
        overflow: auto;
    }
}

/* Cool scrollbar design */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}