/* Basic stylesheet */
:root {
    --accent-charcoal: #1f2933;
    --accent-green: #0e490e;
    --accent-main-blue: #214198;
    --accent-secondary-blue: #10204c;
    --accent-main-gray: #aaa;
    --accent-secondary-gray: #555;
    --accent-white: aliceblue;
    --card-background: #f0f0f0;
    --bg-main: white;
}

body {
    background-color: var(--bg-main);
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    transition: background-color 0.3s ease;
}

/* Themes */
.theme-charcoal {
    background-color: var(--accent-charcoal) !important;
}

.theme-green {
    background-color: var(--accent-green) !important;
}

/* Header/footer */
header,
footer {
    background-color: var(--accent-main-blue);
    padding: 10px;
    color: var(--accent-white);
    margin: 10px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: var(--accent-white);
    text-decoration: none;
}

/* Containers */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.left,
.right {
    margin: 20px;
    background-color: var(--accent-white);
    border-radius: 20px;
    padding: 20px;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
}

.right {
    flex-grow: 1;
    width: 100%;
}

#posts-container {
    max-height: 100%;
    overflow: auto;
}

.scroll-container {
    max-height: 400px;
    overflow: auto;
}

/* Swal styles */
.swal-toggle-link {
    color: var(--accent-main-blue);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.swal-toggle-link:hover {
    color: var(--accent-secondary-blue);
}

.swal2-input {
    width: auto !important;
}

/* Helpers */
.center,
.space-between,
.center-overflow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.overflow {
    overflow: auto;
    white-space: nowrap;
}

.w-full {
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.center-overflow {
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
    max-width: 100%;
}

.on-color {
    color: var(--accent-main-blue);
}

.on-color:hover {
    color: var(--accent-secondary-blue);
}

.on-bg-color {
    background-color: var(--accent-main-blue);
}

.on-bg-color:hover {
    background-color: var(--accent-secondary-blue);
}

.helper-icon {
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
}

.helper-icon:hover {
    color: var(--accent-main-gray);
}

[inert] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        display: block;
        min-height: 0;
    }

    .left,
    .right {
        height: auto;
        width: auto;
    }

    #posts-container {
        max-height: 400px;
        overflow: auto;
    }
}

/* Cool scrollbar design */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--accent-white);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-main-gray);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-secondary-gray);
}