.taskbar {
    background-color: var(--accent-main-gray);
    white-space: nowrap;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.taskbar-button {
    width: 100%;
    margin-top: 0;
}

.taskbar-panel {
    display: none;
}

.taskbar-panel-chosen {
    display: block;
}